.layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto minmax(0, 1fr);
  grid-template-areas:
    'header'
    'display';
  height: 100%;
  > div:nth-of-type(1) {
    grid-area: header;
  }
  > div:nth-of-type(2) {
    grid-area: display;
    background: linear-gradient(#fff, #eee);
  }
}
